.placesFilterBlock__section {
  padding-top: 34px;
}

.placesFilterBlock__title {
  font-family: 'Roboto', sans-serif;
  margin: 0 0 8px;
  padding-left: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #304269;
}

.placesFilterBlock__items {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 1rem 0;
}

.placesFilterBlock__item {
  width: 174px;
  height: 100%;
  padding: 0 10px 20px;
}

.placesFilterBlock__item img {
  cursor: pointer;
  width: 176px;
  height: 120px;
  border-radius: 5px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  object-fit: cover;
}

.placesFilterBlock__item img:hover {
  transform: scale(1.1);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.placesFilterBlock__item_more {
  display: none;
}

.placesFilterBlock__item_last {
  position: relative;
  text-transform: capitalize;
}

.placesFilterBlock__item_last img {
  filter: brightness(0.4);
}

.placesFilterBlock__item_last > .placesFilterBlock__item_more {
  display: block;
  position: absolute;
  cursor: pointer;
  z-index: 4;
  top: 34%;
  left: 40%;
  color: #fff;
}

.placesFilterBlock__item_last > .placesFilterBlock__item_place {
  display: none;
}

.placesFilterBlock__item_last span:hover ~ img {
  transform: scale(1.1);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.placesFilterBlock__item_cancel {
  display: none;
}

.placesFilterBlock__item_place {
  color: #304269;
  text-align: center;
}

.placesFilterBlock__item_selected {
  position: relative;
}

.placesFilterBlock__item_selected img {
  width: 170px;
  height: 114px;
  border: 3px solid #f60;
  background: rgba(0, 0, 0, 0.4);
}

.placesFilterBlock__item_selected .placesFilterBlock__item_place span {
  color: #ff6600;
  font-weight: 600;
}

.placesFilterBlock__item_selected > .placesFilterBlock__item_cancel {
  display: block;
  position: absolute;
  z-index: 8;
  cursor: pointer;
  top: 28%;
  left: 0;
  right: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
