.tourSearchBlock__div {
  position: relative;
  background: #fff;
  border-radius: 5px;
  padding: 25px 0;
  margin: 20px 10px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  height: 74px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tourSearchBlock__div p {
  color: #304269;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
}

.tourSearchBlock__div .tourSearchBlock__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 196px;
  cursor: pointer;
  height: 24px;
  padding: 12px 0;
  text-align: center;
  background: #304269;
  border-radius: 5px;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.tourSearchBlock__div .tourSearchBlock__button:hover {
  background: #f60;
}

.tourSearchBlock__placeInput {
  height: 24px;
  width: 273px;
  color: #666;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
  background: #fff;
  border: 1px solid #304269;
}

.tourSearchBlock__placeInput::placeholder {
  color: #666;
  font-size: 14px;
  font-weight: 400;
  padding: 0 15px;
  background: url(../../assets/geo_icon.svg) no-repeat left center/13px;
}

.tourSearchBlock__placeInput_datalist option {
  color: #304269;
  font-size: 14px;
  font-weight: 400;
}

.tourSearchBlock__placeInput:focus {
  text-decoration: none;
  outline: none;
}

.MuiMenuItem-root {
  color: #666 !important;
  font-weight: 400 !important;
  font-size: 14px !important;
}

.MuiMenuItem-root:hover {
  color: #304269 !important;
  font-weight: 500 !important;
}

.tourSearchBlock__daysDropdown {
  cursor: pointer;
  max-height: 48px;
  max-width: 190px !important;
  background: #fff !important;
  border: 1px solid #303269 !important;
}

.tourSearchBlock__daysDropdown {
  border: 1px solid #303269 !important;
  border-radius: 5px !important;
  padding: 0px 10px !important;
  min-height: 48px !important;
  color: #666 !important;
  font-size: 14px !important;
}

.tourSearchBlock__daysDropdown div {
  color: #666 !important;
}

.tourSearchBlock__daysDropdown {
  border: 1px solid #303269 !important;
}

.tourSearchBlock__daysDropdown div {
  max-height: 48px;
  height: 48px !important;
  font-size: 14px !important;
  color: #666 !important;
  text-align: center;
  line-height: 35px !important;
  bottom: 0 !important;
}

.tourSearchBlock__daysDropdown input {
  padding-left: 10px !important;
  background-size: 14px 14px;
  background: url(../../assets/calendarGray.svg) no-repeat top 9px left 5px;
  color: rgba(0, 0, 0, 0.6) !important;
  font-size: 14px !important;
  padding-bottom: 10px !important;
}

.tourSearchBlock__daysDropdown div {
  color: #666 !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  padding-bottom: 5px;
}

.tourSearchBlock__daysDropdown.MuiInputBase-root {
  min-height: 44px;
  border-radius: 5px !important;
  background-color: #fff !important;
  color: rgba(0, 0, 0, 0.6);
  max-width: 100%;
}

.tourInfoContentDateMobail div {
  color: #304269 !important;
}

.dropdownClass.tourInfoContentDateMobail.MuiInputBase-root {
  min-height: 64px;
  border-radius: 5px !important;
  color: #304269;
}

.calendarModal.tourInfoContentDateMobail input {
  padding-left: 10px !important;
  background-size: 14px 14px;
  background: url(../../assets/calendarGray.svg) no-repeat center right;
  color: #304269 !important;
  font-size: 14px !important;
  text-indent: 0;
}
